* {
  box-sizing: border-box;
}

@font-face {
  font-family: "rave";
  src: url("./fonts/theraveisinyourpants-yxxo-webfont.woff2") format("woff2"),
    url("./fonts/theraveisinyourpants-yxxo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "anita";
  src: url("./fonts/anita_semi_square-webfont.woff2") format("woff2"),
    url("./fonts/anita_semi_square-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "seven";
  src: url("./fonts/seven_segment-webfont.woff2") format("woff2"),
    url("./fonts/seven_segment-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}
body {
  margin: 0;
}
.conainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eeeeee;
}
.btn__holder {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #d6d6d6, #e8e8e8);
  box-shadow: inset 0px 0.2px 0.5px 0.1px rgb(76, 76, 76);
  padding: 0.5rem;
}
.btn {
  outline: 0;
  border-radius: 50%;
  background: linear-gradient(to top, #a9a9a9, #fff7ff);
  border: 0.5px solid #b7b6b6;
  box-shadow: 0px 1px 1.5px 0.1px black;
  cursor: pointer;
  width: 100%;
  height: 100%;
  color: #660a0d;
  font-size: 4rem;
  transition: 0.1s;
}
.btn:hover {
  filter: grayscale(70%);
}
.btn:focus {
  transform: scale(1);
}
.btn:active {
  transform: scale(0.9);
}
.grid {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
.body {
  padding: 1rem 2rem;
  box-shadow: 0px 0px 10px -6px black;
  text-align: center;
  background-image: url("./images3.jfif");
  background-size: 100% 100%;
  border-radius: 8px;
}
.LCD {
  width: 33rem;
  height: 9rem;
  border-radius: 2px;

  box-sizing: border-box;
  background-color: rgba(221, 224, 223, 0.5);
  box-shadow: inset 0px 1.2px 1.5px 2.1px rgb(76, 76, 76);
}
.heading {
  content: "";
  color: transparent;

  line-height: 1.5;
  margin: 0;
  font-size: 2rem;
  font-family: "rave";
  background: rgb(25, 25, 25);
  -webkit-background-clip: text;
  text-shadow: 2px 5px 5px rgba(255, 255, 255, 0.3);
}
.numbers {
  margin: 0;
  line-height: 1;
  font-family: seven;
  -webkit-text-stroke: 1px black;
  color: rgb(112, 112, 112);
  font-size: 9rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.ce .btn {
  font-size: 3.5rem;
}
.dvd .btn {
  font-size: 4rem;
  font-weight: lighter;
}
.btn__long {
  grid-column: -3 / -1;
  width: 16rem;
  border-radius: 8px;
}
.btn__long .btn {
  border-radius: 8px;
}
.point .btn {
  font-weight: bold;
}
